<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How I got here.</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <img src="/profilepic.jpeg" alt="Profile Picture" class="profile-picture">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <!-- Social Media Links -->
            <li class="nav-item">
              <a class="nav-link" href="https://x.com/metachaser24" target="_blank">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/metachaser24" target="_blank">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.cr3dentials.xyz" target="_blank">Cr3dentials</a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
        <div class="blog-post-content">
          <h1>How I joined the Infinite Garden.</h1>
          <p><small class="date">August 14, 2024</small></p>
          <h3>Intro</h3>
          <p>I'm writing this blog to explain how I got into the web3 space and a little of what my day to day looks like. I get this question, "What do you do?", or "how do you get to travel so much" all the time. After I break out into this long winded explanation, touching on my passions, my job in the Ethereum Foundation, my failed NFT collection, my startup Cr3dentials and my travels around the world.
          I find that usually the other person doesn't care and I've wasted 30 minutes of my life force talking about the promises of blockchain. I'm sorry but I can't do that anymore so from now one I will point people to this post. This post is not for everyone, it's for the people that are genuinely curious. I'm going to explain what led me to the space, how I began to get opportunties in the space, and also explain some confusing things along the way like Wtf is the Ethereum Foundation.
        Hopefully, this post inspires you to realize that the possibilites in the world are infinite for the curious and open minded.</p>

          <h3>Life before I was pilled</h3>
          <p>My name is Elo Mukoro, I'm Nigerian American and I was born and raised in Houston, Texas. Particulary Alief. I've always been a smart kid. In high school I was in AP classes and I was no stranger to receiving all A's. I graduated at the top 1% of my class. Growing up in a Nigerian household was very straightforward. Every African knows they have to 
            1. Believe in God
            2. go to college for either Engineering, Medicine or Law
            3. Get married and have children</p>

          <p>Now there is nothing wrong with this path. I'm not here to judge anyone's path. I'm here to explain my path and how I got here. I wanted more out of life. I wanted to help people, I wanted to make a difference. I wanted to be a part of something bigger than myself. I wanted to be a part of something that would leave a lasting impact on the world. The problem was I didn't know how to get there. My mental model was once I finish college I would be able to figure out how to get there. While in college, my major was Chemical Engineering. The course load was very heavy and difficult. This made me reevaluate what I </p>
        </div>
      </main>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>